@page "/events"
@rendermode InteractiveServer

<PageTitle>Events</PageTitle>
<h1>News & Events</h1>
<div >
	<h2>Paws Walk</h2>
	<p>December 25, 2024</p>
	<p>lorem ipsum hvsfugbvueibduisbfu </p>
</div>

<h1>Our Success Stories</h1>

<div class="scroll-container">
	<img src="cars/1.jpg" alt="Cinque Terre">
	<img src="cars/2.jpg" alt="Forest">
	<img src="cars/3.jpg" alt="Northern Lights">
	<img src="cars/4.jpg" alt="Mountains">
</div>


@code {

}
