@page "/events"
@rendermode InteractiveServer

<PageTitle>Events</PageTitle>
<h1>News & Events</h1>

<article>
<div class="divider"><h1>Paws Walk</h1></div>
<h3>December 15, 2024</h3>
<p>Join us for a fun-filled morning of fresh air, exercise, and furry friends! Paws on the Path is a community dog walk designed for dog lovers of all ages and their canine companions. Whether you're a solo walker, a couple, or a family with pets, this event is the perfect way to get active and meet fellow dog owners while exploring the scenic trails of Riverside Park.

What to Bring:

Your dog, of course!
Comfortable walking shoes
Dog leash and waste bags
Water for both you and your pet
Positive energy and a love for dogs!</p>

<ul>
	<li>Event Highlights:</li>
	<li>Guided Group Walks: Starting at 9:00 AM, our group walk will lead participants through Riverside Park’s picturesque trails. Expert guides will lead the way, sharing tips on dog health, training, and safety.</li>
	<li>Pet Wellness Station: Stop by our Pet Wellness Station to pick up free doggy treats, check out health advice from local veterinarians, and learn about pet-friendly activities.</li>
	<li>Dog Costume Contest: At 10:30 AM, there will be a costume contest where dogs and their owners can dress up in creative costumes for a chance to win fun prizes.</li>
	<li>Photo Booth Fun: Capture the moments with your pet at our themed photo booths spread throughout the park, perfect for sharing your day on social media!</li>
	<li>Paws for a Cause: A portion of event proceeds will go to supporting local animal shelters and dog rescue organizations, helping animals in need.</li>
</ul>
</article>

<article>
	<div class="divider"><h1>Reminder for the month</h1></div>
	<h3>December 1, 2024</h3>
	<p>Shelters will not be available on December 25, 2024. For any adoption questions, please inquire before or after the 25th. Thank you.</p>
</article>


@code {

}
