@page "/"

<PageTitle>Home</PageTitle>

<h1>Annie's Cat Sanctuary</h1>
<div class="divider">
	<h1>Our Success Stories</h1>
</div>

<div class="scroll-container">
	<div class="container">
		<img src="cars/1.jpg" alt="Cinque Terre">
		<div class="overlay">
			<div class="text"> Whisker: Abandoned on the streets and now has found her family and endless treats.</div>
		</div>
	</div>
	<div class="container">
		<img src="cars/2.jpg" alt="Forest">
		<div class="overlay">
			<div class="text">Max: Went from scared and abandoned to becoming his new owner's best friend.</div>
		</div>
	</div>
	<div class="container">
		<img src="cars/3.jpg" alt="Forest">
		<div class="overlay">
			<div class="text">Luna: Made a full recovery and soared high again after being rescued.</div>
		</div>
	</div>
	<div class="container">
		<img src="cars/4.jpg" alt="Forest">
		<div class="overlay">
			<div class="text">Bella: timid kitten, transformed into a confident companion after a little love and training.</div>
		</div>
	</div>
</div>

<div class="divider">
	<h1>About Us</h1>
</div>

Welcome to Annie's cat sanctuary!!
<p>Here at Annie's we have a plethora of fluffy companions in need of a home!
	Peruse our stock or check out the Shelters tab for links to our participating shelters.</p>