@page "/"

<PageTitle>Home</PageTitle>

<h1>Hey cat lovers!!</h1>

Welcome to Annie's cat sanctuary!!
<p>Here at Annie's we have a plethora of fluffy companions in need of a home!
	Peruse our stock or check out the Shelters tab for links to our participating shelters.</p>

<div class="scroll-container">
	<img src="cars/1.jpg" alt="Cinque Terre">
	<img src="cars/2.jpg" alt="Forest">
	<img src="cars/3.jpg" alt="Northern Lights">
	<img src="cars/4.jpg" alt="Mountains">
</div>