@page "/shelters"
@rendermode InteractiveServer
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<PageTitle>Our Shelters</PageTitle>

<div class="pageheader"><h1>Introducing our participating shelters</h1></div>

<ul>
	<li>
		<div class="card">
			<img src="ShelterImages/NewBegginings.jpg" alt="NewBeginnings" style="width:300px">
			<h1>New Beginnings</h1>
			<p class="title">Our Mission</p>
			<p>To provide all pets with deserving homes, to give them care, love, and compassion.</p>
			<ul>
				<li><a href="#"><i class="fa fa-twitter"></i></a></li>
				<li><a href="#"><i class="fa fa-youtube"></i></a></li>
				<li><a href="#"><i class="fa fa-facebook"></i></a></li>
			</ul>
			<p><button>Contact</button></p>
		</div>
	</li>
	<li>
		<div class="card">
			<img src="ShelterImages/FurryWarrior.jpg" alt="Furry Warrior" style="width:300px">
			<h1>Furry Warrior</h1>
			<p class="title">Our Mission</p>
			<p>to fight for humane treatment to our furry little friends.</p>
			<ul>
				<li><a href="#"><i class="fa fa-twitter"></i></a></li>
				<li><a href="#"><i class="fa fa-youtube"></i></a></li>
				<li><a href="#"><i class="fa fa-facebook"></i></a></li>
			</ul>
			<p><button>Contact</button></p>
		</div>
	</li>
	<li>
		<div class="card">
			<img src="ShelterImages/HopefulHearts.jpg" alt="Hopeful Hearts" style="width:300px">
			<h1>Hopeful Hearts</h1>
			<p class="title">Our Mission</p>
			<p>We hope to build a community where people value animals and treat them with love and kindness.</p>
			<ul>
				<li><a href="#"><i class="fa fa-twitter"></i></a></li>
				<li><a href="#"><i class="fa fa-youtube"></i></a></li>
				<li><a href="#"><i class="fa fa-facebook"></i></a></li>
			</ul>
			<p><button>Contact</button></p>
		</div>
	</li>
</ul>



@code {

}
