<!-- Index.cshtml -->
@{
    ViewData["Title"] = "Home";
}

<h1>Welcome to Annie's Cat Sanctuary'</h1>
<p>Find your perfect companion today!</p>

<nav>
    <ul>
        <li><a href="/Home/DogListings">Search Dogs</a></li>
        <li><a href="/Home/About">About Us</a></li>
        <li><a href="/Home/Contact">Contact</a></li>
    </ul>
</nav>
<nav>
    <ul>
        <li><a href="/Messages">View Messages</a></li>
        <li><a href="/SendMessage">Send a Message</a></li>
    </ul>
</nav>
